<div class="container">
  <h1>
    <%= @party.name %>
    <% unless @party.happened_on.nil? %>
      <br/>
      <small><%= @party.happened_on.to_formatted_s(:long) %></small>
    <% end %>
  </h1>

  <%= simple_format @party.description, class: 'lead' %>
</div>
