<div class="container">
  <h1>Contact Us</h1>

  <p>The Pittsburgh Party Trophy was instigated by Jenn Stover.  Web page maintained by
  <a href="mailto:admin@pittsburghpartytrophy.com">Jeff Hoskinson</a>.</p>
</div>