doctype html
html
  head
    meta name="viewport" content="width=device-width, initial-scale=1"
    title Pittsburgh Party Trophy
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  body
    #navbar.navbar.navbar-inverse.navbar-static-top role="navigation"
      .container
        .navbar-header
          button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"
            span.sr-only Toggle navigation
            .icon-bar
            .icon-bar
            .icon-bar
          = link_to 'Pittsburgh Party Trophy', { :controller => 'home', :action => 'index' }, :class => 'navbar-brand'
        .navbar-collapse.collapse
          ul class="nav navbar-nav"
            li class=active_page?(:controller => 'home', :action => 'about')
              = link_to "About", :controller => "home", :action => "about"
            li class=active_page?(parties_path)
              = link_to "Party Log", parties_path
            li class=active_page?(new_party_path)
              = link_to "Submit Your Party", new_party_path
          - if user_signed_in?
            ul class="nav navbar-nav navbar-right"
              li
                = link_to 'Sign out', destroy_user_session_path, :method => :delete

    == yield
